 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 3px 0 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 435px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 143px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 435px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-list-1 {
  margin-bottom: 0;
  margin-top: 14px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  min-height: 330px;
  grid-gap: 20px 20px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 20px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 20px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 20px;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px 20px;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px 20px;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px 20px;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 424px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 359px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 359px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
    min-height: 271px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 165px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 598px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    min-height: 476px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1011px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 870px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 9px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 89px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-1 .u-text-4 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-1 .u-text-5 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-1 .u-text-6 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-1 .u-text-7 {
    font-size: 2.25rem;
    width: auto;
  }
} .u-section-2 {
  background-image: none;
  min-height: 1283px;
}

.u-section-2 .u-line-1 {
  left: 0;
  top: 420px;
  position: absolute;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 35px calc(((100% - 1140px) / 2) + 43px) 0 calc(((100% - 1140px) / 2) + 480px);
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  letter-spacing: 0px;
  font-weight: 700;
  margin: -131px calc(((100% - 1140px) / 2) + 593px) 0 calc(((100% - 1140px) / 2) + 23px);
}

.u-section-2 .u-line-2 {
  transform-origin: left center 0px;
  margin-top: 86px;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  width: 618px;
  height: 422px;
  margin: 37px calc(((100% - 1140px) / 2) + 43px) 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: -400px calc(((100% - 1140px) / 2) + 752px) 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 135px calc(((100% - 1140px) / 2) + 752px) 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-btn-2 {
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 143px calc(((100% - 1140px) / 2) + 752px) 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-line-3 {
  transform-origin: left center 0px;
  width: 1240px;
  margin: -286px auto 0 calc(((100% - 1140px) / 2) + -761px);
}

.u-section-2 .u-line-4 {
  transform-origin: left center 0px;
  width: 1240px;
  margin: 177px auto 0 calc(((100% - 1140px) / 2) + -761px);
}

.u-section-2 .u-line-5 {
  transform-origin: left center 0px;
  margin-top: 151px;
  margin-bottom: 0;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 36px auto 0 calc(((100% - 1140px) / 2) + 65px);
}

.u-section-2 .u-text-6 {
  font-size: 1.875rem;
  margin: -49px calc(((100% - 1140px) / 2) + 472px) 0 calc(((100% - 1140px) / 2) + 145px);
}

.u-section-2 .u-shape-1 {
  width: 35px;
  height: 62px;
  margin: -52px calc(((100% - 1140px) / 2) + 425px) 0 auto;
}

.u-section-2 .u-text-7 {
  font-size: 1.875rem;
  margin: -48px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2) + 752px);
}

.u-section-2 .u-text-8 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 47px calc(((100% - 1140px) / 2) + 729px) 0 calc(((100% - 1140px) / 2) + 23px);
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: -209px calc(((100% - 1140px) / 2) + 72px) 0 calc(((100% - 1140px) / 2) + 681px);
}

.u-section-2 .u-line-6 {
  height: 3px;
  transform-origin: center top 0px;
  width: 0;
  margin: 81px calc(((100% - 1140px) / 2) + 532px) 0 auto;
}

.u-section-2 .u-line-7 {
  transform-origin: left center 0px;
  height: 3px;
  margin-top: 0;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-line-1 {
    height: 3px;
    transform-origin: center top 0px;
    width: calc(((100% - 940px) / 2) + -50px);
    margin: 0 auto 0 0;
  }

  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 323px);
  }

  .u-section-2 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 416px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2) + 43px);
  }

  .u-section-2 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2) + 552px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-text-4 {
    margin-top: 132px;
    margin-right: calc(((100% - 940px) / 2) + 552px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-text-5 {
    margin-right: calc(((100% - 940px) / 2) + 552px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-line-3 {
    margin-top: -350px;
    margin-left: calc(((100% - 940px) / 2) + -761px);
  }

  .u-section-2 .u-line-4 {
    margin-top: 203px;
    margin-left: calc(((100% - 940px) / 2) + -761px);
  }

  .u-section-2 .u-line-5 {
    margin-top: 169px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: calc(((100% - 940px) / 2) + 65px);
  }

  .u-section-2 .u-text-6 {
    margin-right: calc(((100% - 940px) / 2) + 372px);
    margin-left: calc(((100% - 940px) / 2) + 45px);
  }

  .u-section-2 .u-shape-1 {
    margin-right: calc(((100% - 940px) / 2) + 425px);
  }

  .u-section-2 .u-text-7 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 552px);
  }

  .u-section-2 .u-text-8 {
    margin-right: calc(((100% - 940px) / 2) + 552px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-text-9 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 553px);
  }

  .u-section-2 .u-line-6 {
    margin-right: calc(((100% - 940px) / 2) + 332px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-line-1 {
    width: calc(((100% - 720px) / 2) + -50px);
  }

  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 103px);
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    margin-right: calc(((100% - 720px) / 2) + 196px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-image-1 {
    margin-right: calc(((100% - 720px) / 2) + 43px);
  }

  .u-section-2 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 332px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2) + 332px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2) + 332px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-line-3 {
    margin-left: calc(((100% - 720px) / 2) + -761px);
  }

  .u-section-2 .u-line-4 {
    margin-left: calc(((100% - 720px) / 2) + -761px);
  }

  .u-section-2 .u-icon-1 {
    margin-left: calc(((100% - 720px) / 2) + 65px);
  }

  .u-section-2 .u-text-6 {
    margin-right: calc(((100% - 720px) / 2) + 197px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-shape-1 {
    margin-right: calc(((100% - 720px) / 2) + 425px);
  }

  .u-section-2 .u-text-7 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 332px);
  }

  .u-section-2 .u-text-8 {
    margin-right: calc(((100% - 720px) / 2) + 332px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-9 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 333px);
  }

  .u-section-2 .u-line-6 {
    margin-right: calc(((100% - 720px) / 2) + 112px);
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1230px;
  }

  .u-section-2 .u-line-1 {
    width: 0;
    margin-top: -329px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 316px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-line-2 {
    margin-top: 116px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 369px;
    margin-top: -18px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-text-3 {
    margin-top: -347px;
    margin-right: calc(((100% - 1140px) / 2) + 452px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-text-4 {
    margin-top: -182px;
    margin-right: calc(((100% - 1140px) / 2) + 452px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-text-5 {
    margin-top: 166px;
    margin-right: calc(((100% - 1140px) / 2) + 452px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-line-3 {
    margin-top: 23px;
    margin-left: calc(((100% - 540px) / 2) + -761px);
  }

  .u-section-2 .u-line-4 {
    margin-top: 202px;
    margin-left: calc(((100% - 540px) / 2) + -761px);
  }

  .u-section-2 .u-line-5 {
    margin-top: 145px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 20px;
    margin-left: calc(((100% - 1140px) / 2) + 365px);
  }

  .u-section-2 .u-text-6 {
    margin-right: calc(((100% - 1140px) / 2) + 317px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-shape-1 {
    margin-right: calc(((100% - 1140px) / 2) + 317px);
  }

  .u-section-2 .u-text-7 {
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-left: calc(((100% - 1140px) / 2) + 452px);
  }

  .u-section-2 .u-text-8 {
    margin-right: calc(((100% - 1140px) / 2) + 452px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-text-9 {
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-left: calc(((100% - 1140px) / 2) + 453px);
  }

  .u-section-2 .u-line-6 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-line-7 {
    margin-top: 17px;
    margin-bottom: 23px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1093px;
  }

  .u-section-2 .u-line-1 {
    margin-top: -47px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-line-2 {
    margin-top: -131px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 232px;
    margin-top: 228px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-text-3 {
    margin-top: -210px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-text-4 {
    margin-top: -319px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-text-5 {
    margin-top: 72px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-line-3 {
    width: 340px;
    margin-top: -17px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-line-4 {
    width: 340px;
    margin-top: 203px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-line-5 {
    margin-top: 169px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 13px;
    margin-left: calc(((100% - 1140px) / 2) + 465px);
  }

  .u-section-2 .u-text-6 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-shape-1 {
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-text-7 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-text-8 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-text-9 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-line-6 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-line-7 {
    margin-top: 0;
    margin-bottom: 0;
  }
} .u-section-3 {
  background-image: none;
  min-height: 1070px;
}

.u-section-3 .u-line-1 {
  left: 0;
  top: 420px;
  position: absolute;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 35px calc(((100% - 1140px) / 2) + 43px) 0 calc(((100% - 1140px) / 2) + 480px);
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  letter-spacing: 0px;
  font-weight: 700;
  margin: -131px calc(((100% - 1140px) / 2) + 752px) 0 calc(((100% - 1140px) / 2) + 23px);
}

.u-section-3 .u-image-1 {
  width: 633px;
  height: 422px;
  margin: 145px calc(((100% - 1140px) / 2) + 43px) 0 auto;
}

.u-section-3 .u-shape-1 {
  width: 35px;
  height: 62px;
  margin: -403px auto 0 calc(((100% - 1140px) / 2) + 23px);
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  margin: -34px calc(((100% - 1140px) / 2) + 659px) 0 calc(((100% - 1140px) / 2) + 93px);
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 55px calc(((100% - 1140px) / 2) + 730px) 0 calc(((100% - 1140px) / 2) + 23px);
}

.u-section-3 .u-line-2 {
  transform-origin: left center 0px;
  margin-top: 254px;
  margin-bottom: 0;
}

.u-section-3 .u-line-3 {
  height: 3px;
  transform-origin: center top 0px;
  width: 0;
  margin: 164px calc(((100% - 1140px) / 2) + 532px) 1px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-line-1 {
    height: 3px;
    transform-origin: center top 0px;
    width: calc(((100% - 940px) / 2) + -50px);
    margin: 0 auto 0 0;
  }

  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 323px);
  }

  .u-section-3 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 575px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2) + 43px);
  }

  .u-section-3 .u-shape-1 {
    margin-top: -62px;
    margin-left: calc(((100% - 940px) / 2) + 23px);
  }

  .u-section-3 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-line-2 {
    height: 3px;
  }

  .u-section-3 .u-line-3 {
    margin-right: calc(((100% - 940px) / 2) + 332px);
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-line-1 {
    width: calc(((100% - 720px) / 2) + -50px);
  }

  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 103px);
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
    margin-right: calc(((100% - 720px) / 2) + 355px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-image-1 {
    margin-right: calc(((100% - 720px) / 2) + 43px);
  }

  .u-section-3 .u-shape-1 {
    margin-left: calc(((100% - 720px) / 2) + 23px);
  }

  .u-section-3 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-line-3 {
    margin-right: calc(((100% - 720px) / 2) + 112px);
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1008px;
  }

  .u-section-3 .u-line-1 {
    width: 0;
    margin-top: -329px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 316px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 360px;
    margin-top: 101px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-shape-1 {
    margin-top: 223px;
    margin-right: calc(((100% - 1140px) / 2) + 317px);
    margin-left: calc(((100% - 540px) / 2) + 23px);
  }

  .u-section-3 .u-text-3 {
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-left: calc(((100% - 1140px) / 2) + 452px);
  }

  .u-section-3 .u-text-4 {
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-left: calc(((100% - 1140px) / 2) + 453px);
  }

  .u-section-3 .u-line-2 {
    margin-top: 459px;
  }

  .u-section-3 .u-line-3 {
    margin-top: -23px;
    margin-right: calc(((100% - 540px) / 2));
    margin-bottom: 59px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 875px;
  }

  .u-section-3 .u-line-1 {
    margin-top: -47px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-3 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 227px;
    margin-top: 100px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-3 .u-shape-1 {
    margin-top: 126px;
    margin-right: calc(((100% - 1140px) / 2) + 400px);
    margin-left: calc(((100% - 340px) / 2) + 23px);
  }

  .u-section-3 .u-text-3 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-3 .u-text-4 {
    margin-top: 84px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-3 .u-line-2 {
    margin-top: 254px;
  }

  .u-section-3 .u-line-3 {
    margin-top: 164px;
    margin-right: calc(((100% - 340px) / 2));
    margin-bottom: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 741px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 73px 15px 0 570px;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 285px;
  margin: -53px auto 0 -27px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: -205px 0 0 574px;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 147px 376px 0 auto;
}

.u-section-4 .u-text-3 {
  font-size: 1.875rem;
  margin: -48px -72px 0 825px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -5px 654px 0 99px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 42px 654px 0 99px;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  margin: -32px 53px 0 700px;
}

.u-section-4 .u-icon-2 {
  width: 112px;
  height: 112px;
  margin: -28px auto 60px 73px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 115px;
    margin-left: 470px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -215px;
    margin-left: 374px;
  }

  .u-section-4 .u-icon-1 {
    margin-right: 310px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 725px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 90px;
    margin-right: 553px;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-top: -28px;
    margin-right: 553px;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-top: -31px;
    margin-right: 0;
    margin-left: 553px;
  }

  .u-section-4 .u-icon-2 {
    margin-bottom: 42px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 225px;
    margin-left: 360px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 286px;
  }

  .u-section-4 .u-icon-1 {
    margin-right: 237px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 615px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 333px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 333px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 333px;
  }

  .u-section-4 .u-icon-2 {
    margin-bottom: 33px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 315px;
    margin-left: 270px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 270px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 215px;
  }

  .u-section-4 .u-icon-1 {
    margin-right: 178px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 525px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 89px;
    margin-right: 153px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 153px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 153px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 626px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 415px;
    margin-left: 170px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 170px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 135px;
  }

  .u-section-4 .u-icon-1 {
    margin-right: 112px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 425px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 115px;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-top: -57px;
    margin-left: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 706px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: -5px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 295px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0 30px 30px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 2.25rem;
  font-weight: 700;
}

.u-section-5 .u-text-2 {
  font-size: 1rem;
  font-weight: 700;
  margin: 49px 0 0;
}

.u-section-5 .u-image-1 {
  min-height: 295px;
  background-image: url("images/IMG_3066.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0 30px 30px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 319px;
}

.u-section-5 .u-container-layout-3 {
  padding: 15px 0;
}

.u-section-5 .u-image-2 {
  height: 195px;
  width: 628px;
  margin: 0 auto 0 30px;
}

.u-section-5 .u-icon-1 {
  width: 159px;
  height: 159px;
  background-image: none;
  margin: -159px 158px 0 auto;
  padding: 32px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 200px;
  }

  .u-section-5 .u-image-1 {
    min-height: 292px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 263px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-image-1 {
    min-height: 224px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 201px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-5 .u-image-1 {
    min-height: 336px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 151px;
  }

  .u-section-5 .u-image-2 {
    height: 168px;
    width: 540px;
    margin-left: 0;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -132px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    min-height: 212px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 95px;
  }

  .u-section-5 .u-image-2 {
    height: 106px;
    width: 340px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -70px;
    margin-right: 99px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 663px;
}

.u-section-6 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 29px 923px 0 30px;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  margin: 20px auto 0 30px;
}

.u-section-6 .u-image-1 {
  width: 570px;
  height: 380px;
  margin: 20px auto 0 20px;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -221px 179px 0 auto;
  padding: 8px 33px;
}

.u-section-6 .u-icon-1 {
  width: 140px;
  height: 140px;
  margin: 41px 30px 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 753px;
    margin-left: 0;
  }

  .u-section-6 .u-image-1 {
    margin-top: 30px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: -125px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-right: 533px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 4px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 643px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 353px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 360px;
    margin-top: 30px;
    margin-left: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-top: -106px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 153px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 227px;
    margin-top: 4px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: -68px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 660px;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 36px auto 0 19px;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  margin: 19px 0 0;
}

.u-section-7 .u-image-1 {
  width: 555px;
  height: 370px;
  margin: 19px auto 0 0;
}

.u-section-7 .u-image-2 {
  width: 555px;
  height: 370px;
  margin: -370px 15px 60px auto;
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 360px;
  }

  .u-section-7 .u-image-2 {
    width: 540px;
    height: 360px;
    margin-top: -360px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 227px;
  }

  .u-section-7 .u-image-2 {
    width: 340px;
    height: 227px;
    margin-top: -227px;
  }
}